<div class="container-login">
  <h2 class="title_login">Sign up</h2>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field">
      <%= f.label :name, class: "label" %><br />
      <%= f.text_field :name, autocomplete: "name", required: true, class:"input" %>
    </div>
  
    <div class="field">
      <%= f.label :email, class: "label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class:"input" %>
    </div>
  
    <div class="field">
      <%= f.label :password, class: "label" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", required: true, class:"input" %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation, class: "label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class:"input" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Sign up", class: "btn-submit"  %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>