<h2 class= 'header-title'> <%= @recipe.name%> </h2>

<% if can?(:update,@recipe) || @recipe.public  %>
<div class = 'preparation-toggle'> 
<div> <p><strong> Preparation time: <%= @recipe.preparation_time %> <% if @recipe.preparation_time > 1 %> hours <% else %> hour <%end%> </strong> </p> </div>
<div> 
<% if can?(:update, @recipe) %>
  <%= form_with(model: @recipe, url: toggle_public_recipe_path(@recipe), method: :patch) do |form| %>
    <% if @recipe.public %>
      <%= form.submit 'Make Private', class: 'btn btn-danger' %>
    <% else %>
      <%= form.submit 'Make Public', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<% end %>

</div>
</div>
<div class = 'preparation-toggle'>
<p> <strong> Cooking time: <%= @recipe.cooking_time %> <% if @recipe.cooking_time > 1 %> hours <% else %> hour <%end%> </strong></p>
</div>
<div class = 'preparation-toggle'>
<p><strong> Recipe steps:</strong> <%= @recipe.description %>  </p>
</div>


 <div class="preparation-toggle ">
<%= button_to "Generate shopping list", general_shopping_list_index_path, method: :get, class: "btn btn-primary generator " %>
<% if can?(:update, @recipe)%>
<%= button_to "Add Ingredient", new_recipe_recipe_food_path(@recipe), method: :get, class: "btn btn-primary generator" %>
<%end%>
</div> 


<table class="table table-bordered table-striped">
<thead>
<tr>
<th> Food </th>
<th> Quantity </th>
<th> Value </th>
<th> Actions </th>
 </tr>
 </thead>
 <tbody>
 <%@recipe.recipe_foods.each do |recipe_food|%> 
 <tr>
  <td> <%= recipe_food.food.name %> </td>
   <td><%="#{recipe_food.quantity} #{recipe_food.food.measurement_unit}"%></td>
    <td><%= recipe_food.quantity * recipe_food.food.price %>$</td>
    <%if can?(:update,@recipe)%>
    <td><%= button_to 'Delete',recipe_recipe_food_path(@recipe,recipe_food),method: :delete, class: 'btn btn-danger' %></td>
    <td><button class='btn btn-success'>Modify </button> <td>
    <%end%>
  </tr>

 <%end%>
 </tbody>

<table>
<%else%>
<h2 class='header-title'> This recipe is private </h2>
<%end%>




