<div class="container-login">
  <h2 class="title_login">Log in</h2>
  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class: "label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class:"input" %>
    </div>
  
    <div class="field">
      <%= f.label :password, class: "label" %><br />
      <%= f.password_field :password, autocomplete: "current-password", required: true, class:"input" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  
    <div class="actions">
      <%= f.submit "Log in", class: "btn-submit" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>