<table id="foods">
<div id="<%= dom_id food %>">
<tr>
  <th>Name</th>
  <th>Measurement unit</th>
  <th>Quantity</th>
  <th>Unit price</th>
  <th>Actions</th>
  <th>View</th>
</tr>
  <tr id="<%= dom_id food %>">
    <td class="table_data">
    <%= food.name %>
    </td>
    <td class="table_data"><%= food.measurement_unit %></td>
    <td class="table_data"><%= food.quantity %></td>
    <td class="table_data">$<%= food.price %></td>
    <td class="table_data"><%= button_to "Delete", food, method: :delete, class: "btn_delete" %></td>
    <td class="table_data"><%= link_to "Show", food, class: "btn_delete" %></td>
    </tr>
    
    </div>
    </table>

    </br>