<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml">

   <head>
      <meta http-equiv = "Content-Type" content = "text/html; charset = iso-8859-1" />
      <meta http-equiv = "Content-Language" content = "en-us" />
      <title>Library Info System</title>
      <%= stylesheet_link_tag "application" %>
      <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
       <!-- Other meta tags and stylesheets -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
   </head>
   <header>
   <nav>
       <ul class="nav_list">
           <button class="hamburger-btn">
               <span class="hamburger-icon">
               <li class="menu"></li>
               <li class="menu"></li>
               <li class="menu"></li>
               </span>
           </button>
           <li><%= link_to "Recipe App", root_path, class: "nav-title" %></li>
           <li class="nav_items">
           <button class="close-btn">
              <span class="close-icon">X</span>
           </button>
           <%= link_to "Home", root_path, class: "nav-item mobile-home" %>
           <%= link_to "Foods", foods_path, class: "nav-item" %>
           <%= link_to "Recipes", recipe_items_path, class: "nav-item" %>
           <%= link_to "Public Recipes", public_recipes_path, class: "nav-item" %>
           <%= link_to "Shopping List", general_shopping_lists_path, class: "nav-item" %>
           </li>
           <% if user_signed_in? %>
           <li class="sign_out">
           <p class="nav_name">Hey <%= current_user.name%></p>
           <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-btn"%>
           </li>
           <% else %>
           <li><%= button_to "Sign In", new_user_session_path, class: "nav-btn"  %></li>
           <% end %>
       </ul>
   </nav>
</header>   


         <div id = "content">
            <%= yield -%>
         </div>
         
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
   </body>
   
</html>